#################
## IDEA
#################
.idea/


#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# Files created by building the deb package
debian/openmediavault-omvextrasorg
debian/files
debian/*.debhelper.log
debian/*.debhelper
debian/*substvars
