Package: zfs*
Pin: release a={{ grains['oscodename'] }}-backports
Pin-Priority: 500

Package: spl
Pin: release a={{ grains['oscodename'] }}-backports
Pin-Priority: 500

Package: spl-dkms
Pin: release a={{ grains['oscodename'] }}-backports
Pin-Priority: 500

Package: libnvpair1linux
Pin: release a={{ grains['oscodename'] }}-backports
Pin-Priority: 500

Package: libzfs4linux
Pin: release a={{ grains['oscodename'] }}-backports
Pin-Priority: 500

Package: libzpool5linux
Pin: release a={{ grains['oscodename'] }}-backports
Pin-Priority: 500

Package: libuutil3linux
Pin: release a={{ grains['oscodename'] }}-backports
Pin-Priority: 500

Package: libfdt1
Pin: release a={{ grains['oscodename'] }}-backports
Pin-Priority: 500

Package: borgbackup
Pin: release a={{ grains['oscodename'] }}-backports
Pin-Priority: 500

Package: libvirt*
Pin: release a={{ grains['oscodename'] }}-backports
Pin-Priority: 500

Package: qemu*
Pin: release a={{ grains['oscodename'] }}-backports
Pin-Priority: 500
